html {
	box-sizing: border-box;
	background-image: url("table.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
svg {
	fill: #ffffff;
	background: rgba(12, 28, 73, 0.699);
	padding: 20px;
	border-radius: 50%;
	width: 200px;
	margin-bottom: 50px;
}
.wrapper {
	padding: 20px;
	border-radius: 15px;
	max-width: 4000px;
	background: rgba(10, 10, 10, 0.39);
	box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}
h2 {
	text-align: center;
	margin: 0;
	font-size: 40px;
	color: white;
}

h5 {
	font-size: 15px;
	font-weight: 100px;
	color: rgba(255, 255, 255, 0.623);
}
.plates {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;
}
.plates li {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 10px 0;
	font-weight: 100;
	display: flex;
}
input[type="submit"]:hover {
	background-color: rgba(5, 5, 5, 0.425);
	color: rgb(255, 255, 255);
}
.add-items {
	margin-top: 20px;
	margin: 10px;
}
.add-items input {
	padding: 10px;
	outline: 0;
	border: 1px solid rgba(0,0,0,0.1);
}